@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

.bg-home{
  display:flex;
  flex-direction:column;
height:auto;
margin-left: 0px;
margin-right: 0px;
padding-right: 0px;
padding-left: 0px;
}